<div class="container">
<h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'input-field' %>
    </div>

    <div class="input-field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input-box_field", id: "myInput" %>
      <span class="eye" onclick="myFunction()">
          <i id="hide1" class="fas fa-eye"></i>
          <i id="hide2" class="fas fa-eye-slash"></i>
      </span>
    </div>

    <div class="input-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "input-box_field", id: "myInput2" %>
      <span class="eye" onclick="myFunction2()">
          <i id="hide3" class="fas fa-eye"></i>
          <i id="hide4" class="fas fa-eye-slash"></i>
      </span>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>