<div class="container">
  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="input-field">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "New password", class: "input-box_field", id: "myInput" %>
      <span class="eye" onclick="myFunction()">
          <i id="hide1" class="fas fa-eye"></i>
          <i id="hide2" class="fas fa-eye-slash"></i>
      </span>
    </div>

    <div class="input-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: "input-box_field", id: "myInput2" %>
      <span class="eye" onclick="myFunction2()">
          <i id="hide3" class="fas fa-eye"></i>
          <i id="hide4" class="fas fa-eye-slash"></i>
      </span>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: 'btn' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>