<% if user_signed_in? %>
  <nav class="nav-wrapper">
    <div class="nav">
      <div class="nav-left">
        <% if can? :manage, User %>
          <%= link_to "Users", users_path, class:"share-links #{'active' if current_page?('/users')}" %>
        <% end %>
        <% if can? :manage, Company %>
          <%= link_to "Companies", companies_path, class:"share-links #{'active' if current_page?('/companies')}" %>
        <% end %>
        <% if can? :manage, Warehouse %>
          <%= link_to "Warehouses", warehouses_path, class:"share-links #{'active' if current_page?('/warehouses')}" %>
        <% end %>
        <% if can? :read, Consignment %>
          <%= link_to "Consignments", consignments_path, class:"share-links #{'active' if current_page?('/consignments')}" %>
        <% end %>
        <% if can? :read, Waybill %>
          <%= link_to "Waybills", waybills_path, class:"share-links #{'active' if current_page?('/waybills')}" %>
        <% end %>
        <% if can? :read, WriteOffAct %>
          <%= link_to "Write-off acts", write_off_acts_path, class:"share-links #{'active' if current_page?('/write_off_acts')}" %>
        <% end %>
        <%= link_to "Statistics", statistics_path, class:"share-links #{'active' if current_page?('/statistics')}" %>
        <% if can? :read, Country %>
          <%= link_to "Countries", settings_countries_path, class:"share-links #{'active' if current_page?('/countries')}" %>
        <% end %>
      </div>
      <div class="nav-right">
          <h3 id="nav-bar-info">
            <%= current_user.first_name %>
            <%= current_user.second_name %>
            -
            <%= current_user.role.role_name %>
            <% if current_user.company %>
              for
              <%= current_user.company.name %>
            <% end %>
          </h3>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'log-out-btn'%>
      </div>
    </div>
  </nav>
<% end %>

